body {
    background-color: #FBDFFE;
    color: #212589;
    font-size: 25px;
    font-family: Tahoma;
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    text-decoration: none;
}